
// :root {
// 	--toastify-color-light: #fff;
// 	--toastify-color-dark: #191918;
// 	--toastify-color-info: #3498db;
// 	--toastify-color-success: #07bc0c;
// 	--toastify-color-warning: #f1c40f;
// 	--toastify-color-error: #e74c3c;
// 	--toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
// 	--toastify-icon-color-info: var(--toastify-color-info);
// 	--toastify-icon-color-success: var(--toastify-color-success);
// 	--toastify-icon-color-warning: var(--toastify-color-warning);
// 	--toastify-icon-color-error: var(--toastify-color-error);
  
// 	--toastify-toast-width: 320px;
// 	--toastify-toast-background: #fff;
// 	--toastify-toast-min-height: 64px;
// 	--toastify-toast-max-height: 800px;
// 	--toastify-font-family: sans-serif;
// 	--toastify-z-index: 9999;
  
// 	--toastify-text-color-light: #757575;
// 	--toastify-text-color-dark: #fff;
  
	
// 	--toastify-text-color-info: #fff;
// 	--toastify-text-color-success: #fff;
// 	--toastify-text-color-warning: #fff;
// 	--toastify-text-color-error: #fff;
  
// 	--toastify-spinner-color: #616161;
// 	--toastify-spinner-color-empty-area: #e0e0e0;
  

// 	--toastify-color-progress-light: linear-gradient(
// 	  to right,
// 	  #4cd964,
// 	  #5ac8fa,
// 	  #007aff,
// 	  #34aadc,
// 	  #5856d6,
// 	  #ff2d55
// 	);
	
// 	--toastify-color-progress-dark: #bb86fc;
// 	--toastify-color-progress-info: var(--toastify-color-info);
// 	--toastify-color-progress-success: var(--toastify-color-success);
// 	--toastify-color-progress-warning: var(--toastify-color-warning);
// 	--toastify-color-progress-error: var(--toastify-color-error);
//   }
  
  
//   .Toastify__toast-theme--light {
// 	background: var(--toastify-color-dark) !important;
// }

.copytext:before{
	top:-35px;
	right:0px;
	padding:8px 5px;
	border-radius:20px;
	 font-size:15px;
	 
}
.copytext:after{
	 content:"";
	position:absolute;
	top:-10px;
	 right:5px;
	width:10px;
	height:10px;
	 transform:rotate(45deg);
	 
}
.cardNumber:before{
	content:"Copied";
	position:absolute;
	display:none;
}


.cvvNumber:before{
	content:"Copied";
	position:absolute;
	display:none;
}

.cardNumber.active:before,
.cardNumber.active:after{
	display: block;
}

.cvvNumber.active:before,
.cvvNumber.active:after{
	display: block;
}