.filterBoxMenu{
	/* Rectangle 4228 */
box-sizing: border-box;
height: 260px;
width:305px;
position: absolute;
left: 60.28%;
right: 38.54%;
top: 26.56%;
bottom: 32.56%;

background: #fffFFF;
/* Neutral/5 */

border: 1px solid rgba(6, 15, 20, 0.05);
/* DS/med */

box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}
