body {
	background: #f0f9f4;
	margin: 0;
}
.container {
	padding: 0 20%;
}
.navbar {
	height: 60px;
	width: 100%;
	background-color: white;
}

.header {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
}

.subheader {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.user-sign-up-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 48px auto;
	padding: 50px;

	background: #ffffff;
	/* DS/reg */

	.title {
		text-align: center;
	}

	.legal-disclaimers {
		text-align: center;
	}

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 6px;

	.sign-up-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		// width: 100%;


		.form-input {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}


		label {
			font-size: 12px;
			margin: 20px 0;
		}

		input,
		select {
			width: 325px;
			height: 42;
			border: none;
			border-radius: 6px;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
			// padding: 5px;
			padding-left: 10px;
		}

		.submit-section {
			border-top: 1px solid black;
			display: flex;
			justify-content: end;
			padding: 10px;
		}

		.submit-button {
			width: 100%;
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 10px 24px 12px;
			gap: 10px;

			/* Red/100 */

			background: #f35858;
			/* DS/reg */

			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			border: none;
		}


	}
}

$mutedGreen: #f0f9f4;
$successGreen: #64C093;

body {
	background: $mutedGreen;
	margin: 0;
}
.container {
	padding: 0 20%;
}
.navbar {
	height: 60px;
	width: 100%;
	background-color: white;
}

.header {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
}

.subheader {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

#onboarding-steps {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 32px 0;

	.line {
		border-top: 1px solid black;
		width: 60px;
	}

	.step {
		display: flex;
		flex-direction: row;

		.number-circle {
			display: flex;
			justify-content: center;
			background: rgba(25, 25, 24, 0.1);
			width: 24px;
			height: 24px;
			border-radius: 100px;
			margin: 0px 10px;
		}

		.active {
			background: #64c093;
		}

		.complete {
			color: $successGreen;
		}
	}
}

.auth-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1154px;
	height: 464px;
	margin: auto;
	padding: 0 35%;
	text-align: center;

	background: #ffffff;
	/* DS/reg */

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 6px;

	.logos {
		display: flex;
		flex-direction: row;
		margin: 0 0 24px 0;

		.arrows {
			display: flex;
			flex-direction: column;
			margin: 0 100px;
		}
	}
}

.instructions {
	margin-bottom: 24px;
	.header {
		font-size: 24px;
		line-height: 36px;
	}

	.description {
		font-size: 12px;
		line-height: 20px;
	}
}

.primary-button {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 24px 12px;
	gap: 10px;
	width: 200px;
	height: 42px;

	/* Red/100 */

	background: #f35858;
	/* DS/reg */

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border: none;
}
